@media only screen and (max-width: 1199px) {
  .partners-block {
    .partners-logo {
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 0;
      padding-bottom: 0;
      .item {
        margin: 20px;
      }
    }
  }
  .ages-block {
    .ages-block-content {
      .ages-text-block {
        h2 {
          width: 80%;
        }
      }
      .ages-img-block {
        width: 100%;
        height: 250px;
        background-position: center bottom;
        background-repeat: no-repeat;
      }
    }
  }
  .services-block {
    .services-block-content {
      .text {
        padding-left: 10%;
        padding-right: 10%;
      }
    }
  }
  .slider-block {
    .container {
      height: auto;
      padding-top: 50px;
      padding-bottom: 50px;
      margin-bottom: 0;
    }
    .slider {
      img {
        width: 90%;
        height: 90%;
      }
    }
  }
  .join-team-block {
    .join-team-block-content {
      .img-block {
        width: 50%;
        height: auto;
        img {
          width: 100%;
          height: 487px;
          object-fit: cover;
        }
      }
      .text-block {
        width: 50%;
        height: 487px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  footer {
    .text-block {
      .copyright {
        &::before {
          width: 80%;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
  .top-block {
    header {
      justify-content: center;
      .top-logo {
        padding-top: 20px;
        img {
          width: 260px;
          height: auto;
        }
      }
      .navbar-block {
        width: 0;
        .hamburger-button {
          display: block;
        }
        .navbar {
          display: none;
          position: absolute;
          left: 0;
          top: 0px;
          flex-direction: column;
          overflow: auto;
          height: 100vh;
          width: 100%;
          padding-top: 40px;
          background-color: rgba(7, 7, 7, 0.9);
          z-index: 1000;
          .drop-list {
            display: flex;
            flex-direction: column;
          }
          a,
          .drop-btn {
            width: 40%;
            padding-top: 10px;
            padding-bottom: 10px;
            color: white;
            text-align: left;
            &:hover {
              border: none;
              color: #e1aa6e;
              padding-bottom: 10px;
            }
          }
          .drop-content {
            background-color: inherit;
            position: relative;
            width: auto;
            top: 0;
          }
        }
      }
      .navbar-block.active {
        span {
          width: 0;
          &::after,
          &::before {
            transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
          }
          &::after {
            bottom: 0;
            transform: rotate(45deg);
          }
          &::before {
            top: 0;
            transform: rotate(-45deg);
          }
        }
        .navbar {
          display: flex;
        }
      }
    }
    .banner-block {
      .banner-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h1 {
          font-size: 50px;
          padding-top: 70px;
        }
        .button {
          margin-bottom: 50px;
        }
      }
    }
  }
  .partners-block {
    .partners-logo {
      .item {
        margin: 20px;
        width: 25%;
        a {
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .ages-block {
    .ages-block-content {
      .ages-text-block {
        h2 {
          width: 100%;
          font-size: 40px;
          padding-top: 50px;
        }
      }
      .ages-img-block {
        min-height: 100px;
        max-height: 200px;
        background-size: cover;
      }
    }
  }
  .slider-block {
    .slider {
      width: 100%;
    }
  }
  .join-team-block {
    .join-team-block-content {
      flex-direction: column;
      .img-block {
        display: none;
      }
      .text-block {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h2 {
          font-size: 40px;
        }
      }
    }
  }
  footer {
    .text-block {
      .nav {
        display: flex;
        justify-content: space-around;
        a {
          font-size: 12px;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}
